.carousel {
	background-color: #333131;
}

.bg-image {
    background: url('/images/Banner.png') center center no-repeat;
    background-repeat: no-repeat;
    color:white !important;
	background-color: #333131;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.menuchoice {
    color: red;
    font-weight: bolder;
    font-size: x-large;
}

.my-header-menu {
    background-color: #333131;
	border-top: 1px solid #fff;
}

.nav-link {
	color: #fff;
}


.nav-link:hover {
	color: #ccc3c3 !important;
	background-color: #555151 !important;
}

.nav-link.show {
	color: #ccc3c3 !important;
}

.dropdown-item.active {
	background-color: #eee3e3 !important;
    color: #333131;
}

a:hover {
	color: #ccc3c3;
}

a:active {
	color: #ccc3c3;
}

body {
    margin-bottom: 60px;
}

.figure-caption {
    text-align: center;
}

.page-image {
    text-align: center;
}

.alert {
    position: static;
}

.footer {
    background-color: #333131;
}

field {
    font-family: monospace;
    font-size: .875em;
    color: var(--bs-secondary);
    word-wrap: break-word;
}

attribute {
    font-family: monospace;
    font-size: .875em;
    color: var(--bs-secondary);
    word-wrap: break-word;
}

kbd {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.1em 0.5em;
    margin: 0 0.2em;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    background-color: #f7f7f7;
    color: #000;
}

.modal-content {
    background-color: rgba(0,0,0,.7) !important;
}

.modal-custom {
    background-color: rgba(0,0,0,3%) !important;
}

.modal-custom .figure-caption {
    color: #fff;
    padding: 5px;
}

.hljs-copy-button {
    background-color: rgb(233, 233, 233) !important;
    background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 5C5.73478 5 5.48043 5.10536 5.29289 5.29289C5.10536 5.48043 5 5.73478 5 6V20C5 20.2652 5.10536 20.5196 5.29289 20.7071C5.48043 20.8946 5.73478 21 6 21H18C18.2652 21 18.5196 20.8946 18.7071 20.7071C18.8946 20.5196 19 20.2652 19 20V6C19 5.73478 18.8946 5.48043 18.7071 5.29289C18.5196 5.10536 18.2652 5 18 5H16C15.4477 5 15 4.55228 15 4C15 3.44772 15.4477 3 16 3H18C18.7956 3 19.5587 3.31607 20.1213 3.87868C20.6839 4.44129 21 5.20435 21 6V20C21 20.7957 20.6839 21.5587 20.1213 22.1213C19.5587 22.6839 18.7957 23 18 23H6C5.20435 23 4.44129 22.6839 3.87868 22.1213C3.31607 21.5587 3 20.7957 3 20V6C3 5.20435 3.31607 4.44129 3.87868 3.87868C4.44129 3.31607 5.20435 3 6 3H8C8.55228 3 9 3.44772 9 4C9 4.55228 8.55228 5 8 5H6Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C7 1.89543 7.89543 1 9 1H15C16.1046 1 17 1.89543 17 3V5C17 6.10457 16.1046 7 15 7H9C7.89543 7 7 6.10457 7 5V3ZM15 3H9V5H15V3Z" fill="black"/></svg>') !important;
    border: 1px solid #212529 !important;
    border-radius: 0.2rem !important;
    color: #212529 !important;
    display: inline-block !important;
    font-family: inherit !important;
    font-size: .875rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    padding: 0.25rem 0.5rem !important;
    position: absolute !important;
    text-align: center !important;
    text-decoration: none !important;
    text-indent: 0px !important;
    transform: translateX(calc(10%) + 0.5em) !important;
    vertical-align: middle !important;
    width: 6em !important;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1
{
    margin-top: 0.5rem !important;
}

.accordion {
    --bs-accordion-bg: #333131 !important;
    --bs-accordion-active-bg: #575757 !important;
    --bs-accordion-color: #FFFFFF !important;
    --bs-accordion-active-color: #dadada !important;
    --bs-body-color: #dadada !important;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='var%28--bs-body-color%29'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button {
    color: #FFFFFF !important;
}

.accordion-link {
    color: #FFFFFF !important;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y)var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: rgba(0,0,0,.0)!important;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
    font-weight: normal !important;
}

.accordion-link-item {
    border: 1px solid #FFFFFF;
}
