.hugo_build.lock
/mevislab.github.io/node_modules/*

/mevislab.github.io/public/*
*.content
mevislab.github.io/resources/_gen/assets/scss/sass/main.scss_cf66e63debe6917c04534d6c7b66f623.json
mevislab.github.io/resources/_gen/assets/scss/sass/main.scss_f0e2e73b573f6d419daeeb0444f392c5.json
