<!-- Tutorials section -->
{{ $currentPage := . }}
{{ range .Site.Menus.main }}
<div class="container overflow-auto">
    <div class="row vh-auto overflow-auto">
        {{ if .HasChildren }}
            {{ range .Children }}
                {{ if .HasChildren }}
                    {{ range .Children }}
                        {{ if .Page.InSection $currentPage.CurrentSection }}
                        <div class="col-md-6">
                            <div class="col gy-3">
                                <div class="col text-lg-left">
                                    <h3 ><a href="{{ .URL }}">{{ .Name }}</a></h3>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    {{ end }}
                {{ else }}
                    {{ if .Page.InSection $currentPage.CurrentSection }}
                    <div class="col-md-6">
                        <div class="col gy-3">
                            <div class="col text-lg-left">
                                <h3 ><a href="{{ .URL }}">{{ .Name }}</a></h3>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
{{ end }}       
    </div>
</div>