<footer class="footer fixed-bottom mt-auto py-3">

    <div class="row footer-text">
      <div class="col-12 col-md text-center text-md-left text-white">&copy; Copyright {{ replace .Site.Author.copyright "{year}" now.Year }} <a href="{{ .Site.Author.website }}" target="_blank">{{ .Site.Author.name }}</a> | <a href="https://www.mevislab.de/imprint" target="_blank">Imprint</a> | <a href="https://www.mevislab.de" target="_blank">https://www.mevislab.de</a></div>
    </div>

  <!-- JavaScript and dependencies -->

  {{ $bootstrap := resources.Get "js/bootstrap.bundle.min.js" }}
  {{ $js := slice $bootstrap | resources.Concat "js/bundle.js" | resources.Minify }}

  <script src="{{$js.Permalink}}" defer></script>
  <script>
      hljs.highlightAll();
      
      hljs.configure({
          ignoreUnescapedHTML: true
      });

      hljs.addPlugin(new CopyButtonPlugin());
  </script>
</footer>
