<!--Abbreviation Section-->
<!--WARNING: Contents are only copied - NOT revised.-->

<h4>Abbreviations</h4>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Abbreviation</th>
      <th scope="col">Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a name="contour-segmented-objects">CSO</a></td>
      <td>Contour Segmented Objects</td>
    </tr>
    <tr>
      <td><a name="winged-edge-meshes">WEM</a></td>
      <td>Winged Edge Meshes</td>
    </tr>
    <tr>
      <td><a name="giga-voxel-renderer">GVR</a></td>
      <td>Giga Voxel Renderer</td>
    </tr>
  </tbody>
</table>

<!--List of Filetypes-->

 <!--h3>Filetypes</h3>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Extension</th>
      <th scope="col">Description of Filetype</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>.mlab</td>
      <td>
        Network file, includes all information about the networks modules, their settings, their connections, and module groups. 
        Networks developed by using the MeVisLab SDK are stored as .mlab file and can only be opened having a valid SDK license.
    </td>
    </tr>
    <tr>
      <td>.def</td>
      <td>
        Module definition file, necessary for a module to be added to the common MeVisLab module database. 
        May also include all MDL script parts (if they are not sourced out to the .script file).
      </td>
    </tr>
    <tr>
      <td>.script</td>
      <td>
        MDL script file, typically includes the user interface definition for panels. 
        See <a href="/examples/tutorials/basicmachanisms/macromodules/guidesign/#Example_Paneldesign">Chapter GUI Development</a> for further information.
      </td>
    </tr>
    <tr>
      <td>.mlimage</td>
      <td>
        MeVisLab internal image format for 6D images saved with all DICOM tags, lossless compression, and in all data types.
      </td>
    </tr>
    <tr>
      <td>.mhelp</td>
      <td>
        File with descriptions of all fields and the use of a module, edit- and creatable by using MATE. 
        See <a href="/examples/tutorials/basicmechanisms/macromodules/helpfiles/">Help Files</a> for details.
      </td>
    </tr>
    <tr>
      <td>.py</td>
      <td>
        Python file, used for scripting in macro modules.
        See <a href="/examples/tutorials/basicmechanisms/macromodules/pythonscripting/#TutorialPythonScripting">Python Scripting</a> for a tutorial on Macro programming.
      </td>
    </tr>
    <tr>
      <td>.dcm</td>
      <td>DCM part of the imported DICOM file, see <a href="/examples/tutorials/basicmechanisms/dataimport/#DICOMImport">Importing DICOM<a>.</td>
    </tr>
  </tbody>
</table-->

<!--Components of MeVisLab-->

<h4><a name="components-of-mevislab">Components of MeVisLab</a></h4>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Component</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a name="mevislab">MeVisLab</a></td>
      <td>
        MeVisLab consists of the MeVisLab SDK and the MeVisLab ApplicationBuilder.
     </td>
    </tr>
    <tr>
      <td><a name="mevislab-sdk">MeVisLab SDK</a></td>
      <td>
        The MeVisLab Software Development Kit (SDK) is the MeVisLab IDE including the text editor MATE and 
        any tools integrated for debugging, testing and profiling.
      </td>
    </tr>
    <tr>
      <td><a name="mevislab-apk">MeVisLab ApplicationBuilder</a></td>
      <td>
        The MeVisLab ApplicationBuilder allows you to generate installable executables from 
        your developed networks and applications. These executables can be delivered to customers.
    </td>
    </tr>
    <tr>
      <td><a name="mevislab-ide">MeVisLab IDE</a></td>
      <td>
        The MeVisLab Integrated Development Environment (IDE) is your starting point whenever you are 
        working with MeVisLab. It provides a programming interface and an advanced text editor.
      </td>
    </tr>
    <tr>
      <td><a name="mevislab-mate">MeVisLab MATE</a></td>
      <td>
        The Advanced Text Editor (MATE) is an integrated text editor for Python and MDL development in MeVisLab. 
        It provides auto-completion and syntax highlighting, as well as debugging functionalities.
      </td>
    </tr>
    <tr>
      <td><a name="mdl">MDL</a></td>
      <td>
        The MeVisLab Definition Language (MDL) is the language for developing basic
        User Interfaces for networks and modules in MeVisLab.
    </td>
    </tr>
  </tbody>
</table>

<!--MeVisLab Terminology and Concepts-->

<h4>MeVisLab Terminology and Concepts</h4>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Term</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a name="module">Module</a></td>
        <td>
            A module is a single instance providing encapsulated functionalities for a specific purpose. 
            MeVisLab provides thousands of such pre-defined modules and you can develop your own modules for extending functionalities.
            modules provide inputs and outputs for connections in a Network and/or one or more Panels for interacting.
       </td>
      </tr>
      <tr>
        <td><a name="panel">Panel</a></td>
        <td>
            A panel is a User Interface providing possibilities to interact with MeVisLab.
        </td>
      </tr>
      <tr>
        <td><a name="field">Field</a></td>
        <td>
            Parameters of modules are called fields. Several different types of fields are available such as numbers, 
            text, trigger buttons, etc. Publicly accessible fields can be modified in the Module Inspector or Panel of the selected module.
      </td>
      </tr>
      <tr>
        <td><a name="macro-module">Macro module</a></td>
        <td>
            Macro modules encapsulate networks including input and output into a single module. 
            In order to see whats inside a macro module, you can open the Context Menu via Right-Click and select [ Show Internal Network ]. 
            You can choose to create local macros and global macros.
        </td>
      </tr>
      <tr>
        <td><a name="local-macro-module">Local macro (module)</a></td>
        <td>
            Local macros are only available in your currently opened network. 
            You cannot use the Module Search in MeVisLab to find local macros.
        </td>
      </tr>
      <tr>
        <td><a name="global-macro-module">Global macro (module)</a></td>
        <td>
            Global macros are integrated into MeVisLab and can be used in any future networks. 
            They are available in module search.
      </td>
      </tr>
      <tr>
        <td><a name="network">Network</a></td>
        <td>
            A network contains at least two connected modules.
      </td>
      </tr>
      <tr>
        <td><a name="example-network">Example network</a></td>
        <td>
            Each module provides an example network to see how it can be used. 
            Right-Click on the module and select Help > Show Example Network
      </td>
      </tr>
      <tr>
        <td><a name="output-inspector">Output Inspector</a></td>
        <td>
            The Output Inspector is a quick preview of the output of a specific module. 
            The output can be an image or any other user defined output format.
      </td>
      </tr>
      <tr>
        <td><a name="module-inspector">Module Inspector</a></td>
        <td>
            The Module Inspector shows publicly available properties of the selected module and their current values. 
            Changes made in the Module Inspector are applied on the fly.
      </td>
      </tr>
      <tr>
        <td><a name="workspace">Workspace</a></td>
        <td>
            The workspace is the area where you can add and connect modules. Multiple networks are organized in separate tabs.
      </td>
      </tr>
      <tr>
        <td><a name="views-area">Views Area</a></td>
        <td>
            The right side of the MeVisLab IDE provides a space to add several predefined panels like Output- and Module inspectors.
      </td>
      </tr>
      <tr>
        <td><a name="debug-output">Debug Output</a></td>
        <td>
            The Debug Output shows debugging messages of your modules and the MeVisLab IDE.
      </td>
      </tr>
      <tr>
        <td><a name="open-inventor">Open Inventor</a></td>
        <td>
            Open Inventor modules process and render 3D scene objects and enable image interactions.
      </td>
      </tr>
      <tr>
        <td>Scene Object</td>
        <td>
          <!--currently empty!-->
      </td>
      </tr>
      <tr>
        <td>Lookup Table (LUT)</td>
        <td>
          <!--currently empty-->
      </td>
      </tr>
      <tr>
        <td>Package</td>
        <td>
          <!--currently empty-->
      </td>
      </tr>
    </tbody>
  </table>