{{ $currentPage := . }}
{{ $section := .Name }}
{{ range .Site.Menus.main.ByWeight }}
    {{ if .HasChildren }}
        {{ range .Children }}
            {{ if eq .Name $currentPage.Title }}
                {{ if .HasChildren }}
    <div class="dropdown">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="dropdown">
          Sub-Pages of {{ $currentPage.Title }}
        </button>
        <ul class="dropdown-menu">
                    {{ range .Children }}
            <li><a class="dropdown-item" href="{{ .URL }}" title="{{ .Title }} ">{{ .Name }}</a></li>
                    {{ end }}
        </ul>
    </div>
                {{ end }}
            {{ else }}
                {{ if .HasChildren }}
                    {{ range .Children }}
                        {{ if eq .Name $currentPage.Title }}
                            {{ if .HasChildren }}
            <div class="dropdown">
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="dropdown">
                  Sub-Pages of {{ $currentPage.Title }}
                </button>
                <ul class="dropdown-menu">
                                {{ range .Children }}
                    <li><a class="dropdown-item" href="{{ .URL }}" title="{{ .Title }} ">{{ .Name }}</a></li>
                                {{ end }}
                </ul>
            </div>
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}