{{ define "main" }}
<div class="container pb-5 pt-3">
    <div class="container-fluid overflow-hidden">
        <div class="row vh-auto overflow-auto">
            <div class="col d-flex flex-column h-sm-auto">
                <div class="col px-6">
                    <h3>{{ if eq .Title "Beginner" }}<span class="badge bg-success">{{ .Title }}{{ else if eq .Title "Advanced" }}<span class="badge bg-warning">{{ .Title }}{{ else if eq . "Expert" }}<span class="badge bg-danger">{{ .Title }}{{ else }}<span class="badge bg-secondary">{{ .Title }}{{ end }}</span></h3>
                    {{ range .Data.Pages }}
                    <h4><a href="{{.Permalink}}">{{.Title}}</a></h4><b>{{.Date.Format "02.01.2006"}}:</b>&nbsp;{{.Summary}}
                    {{ end }}
                </div>
            </div>
        </div>
    </div> 
</div>  
            
{{ end }}