{{ define "main" }}

<div class="container">
  <h1 class="my-3">About this document</h3>

  <p>We received a lot of feedback regarding our documentation and that it is not easy to get a starting point for the first steps in MeVisLab.</p>
  <p>After lots of internal and external discussions we decided to create a <a href="/tutorials">Step-by-Step Tutorial</a> in addition to our existing <a href="https://mevislabdownloads.mevis.de/docs/current/MeVisLab/Resources/Documentation/Publish/SDK/GettingStarted/index.html">Getting Started Manual</a>.</p>
  <p>Requirements from our users and customers have been to split the existing documentation into separate chapters of functional categories so that it is possible to select the topic(s) you are interested in.</p>
  <p>This is our initial result. We know that not all relevant parts are covered by this dosumentation but we continue to work on it and hope it helps you to find what you need to start working with MeVisLab.</p>
  <p>We would be very happy to get some feedback, ideas for future topics and missing examples so that we can continue developing this documentation based on your needs.</p>
  <p>One last thing: Many users asked for the possibility to search inside our documentation. For these tutorials we already implemented a basic search functionality where you can search for terms inside all tutorial pages.</p>
  <p>In addition to the tutorials, we also created a space for <a href="/examples" target="_self" title="MeVisLab Examples">Example Networks</a> in MeVisLab which have been posted in the <a href="https://forum.mevislab.de" target="_blank" title="MeVisLab Forum">forum</a> or elsewhere. These examples show one possible solution for a specific topic and have been categorized the same way as the tutorials.</p>
  <p>In case you have additional tutorials or examples you want us to add, you can add them to our repository at <a href="https://github.com/MeVisLab/examples" target="_blank" title="MeVisLab Examples repository">GitHub</a> and create a merge request. Please make sure to provide a markdown file with a short explanation and a screenshot of your network.</p>
</div>

{{ end }}