{{ define "main" }}
<div class="d-flex p-3">
  <div class="p-3 w-75">
    <h2>Learn to use MeVisLab</h2>
    <p>
      After receiving a lot of useful feedback regarding the MeVisLab documentation, we decided to provide you with simple yet well-thought-out tutorials and common examples to allow you
      to gain profiency in the usage of MeVisLab quickly and easily. <br> <br>
      As oftenly requested by users and customers, we split the existing documentation into separate chapters of functional categories to furtherly increase the usability and simplify the 
      access to explicitly needed information.
    </p>
    <p>
      Find some interesting links below if you feel like you are ready for a quick start:
      <ul style="list-style-type: square">
        <li><a href="https://mevislab.github.io/examples/tutorials/">Tutorial Overview</a></li>
        <li><a href="https://mevislabdownloads.mevis.de/docs/current/MeVisLab/Resources/Documentation/Publish/SDK/GettingStarted/index.html">Getting Started Manual</a></li>
        <li><a href="https://mevislab.github.io/examples/examples/">Example Networks</a></li>
        <li><a href="https://forum.mevislab.de/">MeVisLab forum</a></li>
      </ul>
    </p>
    <p>We are still working on the contents of this page and all related resources, so please be patient and continue to support us by giving feedback on the existing parts.
      If you want to contribute any ideas, example networks or topics for additional tutorials, you may do so by adding them to our repository on <a href="https://github.com/MeVisLab/examples">Github</a>.
      Please make sure to provide us with a Markdown file containing a description of your suggestion (and/or a screenshot of your example network) when filing a pull request.
    </p>
    <p>Discern how many of our tutorials are on <a href="https://www.youtube.com/channel/UCUGi64NseroIGjga8l7EX8g">YouTube</a> as well.</p>
    <p> Lastly: We implemented a basic search functionality for you to search for terms within our tutorial page.</p>
  </div>

  <div class="p-3">
    <div class="alert alert-info" role="alert">
    <h4>Recent Additions:</h4>
      <p>
      {{ $currentIndex := 1 }}
      {{ range ( where .Site.RegularPages.ByDate.Reverse "Kind" "page" | first 5 ) }}
        <p>[{{ .Date.Format "2006-01-01" }}]: <a href="{{ .Permalink }}" class="alert-link">{{ .Title }}</a></p>
        {{ $currentIndex = add $currentIndex 1 }}
      {{ end }}
      </p>
    </div>
  </div> 
</div>


{{ end }}
