{{ define "main" }}

<div class="container pb-5 pt-3">

    <div class="container-fluid">
      <div class="row vh-auto">
        <div class="col d-flex flex-column h-sm-auto">
            <div class="col px-6">
                <h1>{{ .Title }}</h1>
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <ol class="list-group list-group-numbered">
                        {{ range .Children }}
                            {{ if eq $currentPage.Section .Parent }}
                        <li class="list-group-item" style="position: inherit; !important"><a class="fw-bold" href="{{ .URL }}" title="{{ .Title }}" target="_self">{{ .Name }}</a>
                            <div class="ps-4">{{ .Title }}</div>
                                {{ if .HasChildren }}
                            <ol class="list-group list-group-numbered list-group-flush">
                                    {{ range .Children }}
                                    <li class="list-group-item" style="position: inherit; !important"><a class="fw-bold" href="{{ .URL }}" title="{{ .Title }}" target="_self">{{ .Name }}</a>
                                        <div class="ps-4">{{ .Title }}</div>
                                    {{ if .HasChildren }}
                                    <ol class="list-group list-group-numbered list-group-flush">
                                        {{ range .Children }}
                                        <li class="list-group-item" style="position: inherit; !important"><a class="fw-bold" href="{{ .URL }}" title="{{ .Title }}" target="_self">{{ .Name }}</a>
                                            <div class="ps-4">{{ .Title }}</div>
                                        {{ if .HasChildren }}
                                            <ol class="list-group list-group-numbered list-group-flush">
                                                    {{ range .Children }}
                                                    <li class="list-group-item" style="position: inherit; !important"><a class="fw-bold" href="{{ .URL }}" title="{{ .Title }}" target="_self">{{ .Name }}</a>
                                                        <div class="ps-4">{{ .Title }}</div>
                                                    </li>
                                                    {{ end }}
                                            </ol>
                                                {{ end }}
                                        </li>
                                            {{ end }}
                                    </ol>
                                        {{ end }}
                                    {{ end }}
                                </li>
                            </ol>
                                {{ end }}
                        </li>
                            {{ end }}
                        {{ end }}
                    </ol>
                    {{ end }}
                {{ end}}
            </div>
        </div>
    </div>

</div>

{{ end }}